/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} // end all elements

/* --------------------------- BODY --------------------------- */
body {
  font-family: $defaultFont;
  font-weight: $lightWeight;
  min-width: 320px;
}

/* --------------------------- HEADER --------------------------- */
#headerWrapper {
  background-color: $pColor;
  width: 100%;
}
header {
  display: grid;
  grid-template-columns: auto 44px;
  column-gap: $gutter;
  align-items: center; //vertically
  padding: 20px 0;
} // end header

/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */

#hamburgerBtn {
  position: relative;
  height: 44px;
  width: 44px;
  cursor: pointer;
  //border: 1px solid #ddd;
  //border-radius: 10px;
}
.top,
.bottom {
  position: absolute;
  height: 2px;
  width: 50%;
  left: 25%;
  background-color: white;
  transition: all 0.4s ease;
}
.top {
  top: 33%;
}
.bottom {
  top: 62%;
} //End of Hamburger

#hamburgerBtn.open {
  .top {
    transform: rotate(45deg);
    top: 48%;
    width: 60%;
    left: 20%;
  }
  .bottom {
    transform: rotate(-45deg);
    top: 48%;
    width: 60%;
    left: 20%;
  }
} //End of Open Class (Navigationn)

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  font-size: 1.2rem;
}
nav ul.active {
  display: block;
}
li a {
  color: $pColor;
  display: block;
  padding: 0.75rem $gutter;
  text-decoration: none;
  border-radius: 1px solid grey;
}
li.active a {
  color: white;
  background-color: $tColor;
}

/* --------------------------- MAIN --------------------------- */
main {
  
  h1 {
    padding: 1rem $gutter.5rem $gutter;
    font-size: 1.5rem;
    color: $tColor;
    font-weight: $lightWeight;
  }
  h2 {
    font-weight: $lightWeight;
    color: $tColor;
  }
  p {
    padding: 0.5rem $gutter;
    color: $pColor;
    line-height: $leading;
  }
  h3 {
    font-weight: $lightWeight;
    color: $tColor;
    font-style:italic;
  }
  h1, h2, h3, p {
    padding-left: $gutter;
  }
} // end main

.hero {
  position: relative;
  video {
    width: 100%;
    height: auto;
  }
  div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    background: linear-gradient(
      90deg,
      rgba(81, 158, 140, 1) 0%,
      rgba(81, 158, 140, 0.50) 55%,
      rgba(91, 194, 168, 0.10) 100%
    );
    padding: 10px;
    h3 {
      font-weight: $lightWeight;
      font-size: 1.5rem;
    }
    p {
      color: white;
      font-weight: $lightWeight;
      font-size: 1.2rem;
      a {
        color: $sColor;
      }
    }
  }
} //End of Hero

/* --------------------------- CARD STUFF HERE! --------------------------- */


.cards {
 display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: $gutter; 
  justify-items: center; 
  padding: 1rem $gutter;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 333px;
  height: 500px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  overflow: hidden;
  h1 {
    color: white;
  }
  p {
    color: $sColor;
  }
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: $pColor;
  color: white;
  transform: rotateY(180deg);
}

/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
  background-color: $pColor;
} // end footer wrapper

footer {
  font-size: 1.2rem;
  padding: 1rem $gutter;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: $leading;
  
  a {
    color: $sColor;
  }
} // end footer


