$primaryColor: #1d295f; 
$secondaryColor: #7c1d47;
$accentColor: #3990c3;
$greyColor: #ccc;

$pColor: #323232;
$sColor: #B0F1EF;
$tColor: #3E576A;

$defaultFont:'Yrsa', serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;